<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseLibrary.Properties.Settings.bronr_dk_dbConnectionString"
            connectionString="Data Source=mssql9.unoeuro.com;Initial Catalog=bronr_dk_db;Persist Security Info=True;User ID=bronr_dk;Password=f4x5nb92mz"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>